#zoe-section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#A495D4));
  background-image: linear-gradient(to bottom, #ffffff, #A495D4);
  padding-bottom: 100px;
  height: 51.2vh;
}

#zoe-section .col-sm-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#zoe-section h2 {
  font-family: 'Ubuntu Mono', monospace;
  color: #60568C;
}

footer {
  background-color: #60568C;
  color: white;
}

footer p {
  font-family: 'Ubuntu Mono', monospace;
}

.hero {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.hero h1 {
  color: #3AECBC;
}

nav {
  padding: 0;
}

nav a:link,
nav a:visited {
  color: #A495D4;
}

nav a:link:active,
nav a:visited:active {
  color: #A495D4;
}

.navbar {
  padding-bottom: 100px;
}

html {
  font-family: 'Ubuntu', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.full-height {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body,
html {
  overflow-x: hidden;
}

.form {
  padding-bottom: 100px;
}

.form form {
  position: relative;
}

.form form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form form .form-group .scanfigr-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -10px;
  height: 100%;
  background-color: #4EE5A6;
  border-color: #B4EAD5;
  border: 0px none;
  border-radius: 15px;
}

.form form .form-group .scanfigr-btn i {
  margin-left: 10px;
}

#form-elements {
  color: #3AECBC;
  text-align: center;
}

.validado-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.validado-div h2 {
  color: #A495D4;
}

.validado-div p {
  text-align: left;
}

.validado-div label {
  color: #A495D4;
  margin-bottom: 20px;
}

.validado-div input {
  margin-bottom: 20px;
}

.validado-div button {
  background-color: #A495D4;
  border-color: #CEC6ED;
  color: #60568C;
  border-radius: 15px;
}
/*# sourceMappingURL=styles.css.map */