nav {

    a:link,
    a:visited {
        color: #A495D4;
    }

    a:link:active,
    a:visited:active {
        color: #A495D4;
    }

    // height: 20%;
    padding: 0;
}

.navbar {
    padding-bottom: 100px;
}