.hero {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    h1 {
        color: #3AECBC;
    }
}