#status {
    display: flex;
    margin-bottom: 108px;

    .state {
        color: #707070;
        margin-bottom: 12px;
    }

    .result {
        #analise {
            color: #EAB4B4;
        }

        color: #3AECBC;
    }
}