.validado-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
        color: #A495D4;
    }

    p {
        text-align: left;
    }

    label {
        color: #A495D4;
        margin-bottom: 20px;
    }

    input {
        margin-bottom: 20px;
    }

    button {
        background-color: #A495D4;
        border-color: #CEC6ED;
        color: #60568C;
        border-radius: 15px;
    }
}