#zoe-section {
    background-image: linear-gradient(to bottom, #ffffff, #A495D4);
    padding-bottom: 100px;
    height: 49.9vh;

    .col-sm-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-family: 'Ubuntu Mono', monospace;
        color: #60568C;
    }
}